html {
    // defines 1rem as 10px
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.parent-container {
    padding-left: $padding-containers;
    padding-right: $padding-containers;
    aspect-ratio: 1 / 1.41;
    // overflow:hidden;
    border: 1px dashed darkgrey;

    &:first-of-type {
        margin-top: 5rem;
    }
}
