@page {
    size: A4 portrait;
    margin: 50px 0;
    padding: 0;
}

@media print {
    html,
    body {
        font-size: 31.25%;
        page-break-inside: avoid;
    }

    .container {
        max-height: 100%;
        width: 100%;
        max-width: 85%;
        margin: 0 5% 0 10%;
    }

    .parent-container {
        border-style: none;
    }

    /* ... the rest of the rules ... */
    .col-6 {
        width: 50%;
    }

    .col-p-12 {
        width: 100% !important;
    }

    .col-12 {
        width: 100%;;
    }

    #graph_verletzte {
        max-height: 300px;
        max-width: 100%;
    }
}
