@page {
    size: A4 portrait;
    margin: 0.5rem;
    padding: 0;
}



@media print {
    html,
    body {
        font-size: 37.5%;
        page-break-inside: avoid;
    }

    .container {
        max-height: 100%;
        width: 100%;
        max-width: 100%;
        margin: 0 !important;
    }

    .parent-container {
        border-style: none;
        margin: 0;
    }

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;;
    }
}
