
@import "abstracts/variables";
@import "base/typography";

.loss {
    &__title {
        margin: 0;
    }
    &__text {
        margin-top: 0;
        margin-bottom: 0.2rem;
    }
    &__icons-box{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    &__icons-description {
        display: flex;
        justify-content: space-between;
    }

    &__icons {
        margin: 0;
        width: 18%;

        svg {
            margin-right: -30%;
            width: 100%;
            height: 5vw;
            fill: rgb(218, 218, 218);
            
            path {
                &.cls-1 {
                    fill: #d3d3d3;
                    stroke: #fff;
                    stroke-miterlimit: 10;
                    stroke-width: 0.25px;
                }
            }
        }
        &.active {
            svg {
                fill: $color-red;
            }
        }
    }

    &__legend {
        position:relative;
        width: 18%;
        margin-left: 2%;
        font-size: 1.2rem;
        text-align: center;

        &:first-of-type {
            margin-left: -5%;
        }
        &:after {
            position: absolute;
            left: 48%;
            bottom: -50%;
            width: 5px;
            height: 10px;
            background-color: lightgrey;
            content:'';
        }
        &:first-of-type:after, &:last-of-type:after {
            content: none;
        }
    }
    
    &__colorscale {
        width: 96%;
        height: 14px;
        background-color:lightgrey;
        margin: 1% 2%;
    }
}
