
@import "abstracts/variables";
@import "base/typography";

.loss {
    &__title {
        margin: 0;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0.2rem;
    }

    &__display {
        padding: 5px 10px 3.2rem;
        display: none;
    }

    &__icons-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        margin: 0;
        width: 18%;

        svg {
            width: 100%;
            height: 6rem;
            fill: rgb(218, 218, 218);
            
            path {
                fill: #d3d3d3;
                stroke: #fff;
                stroke-miterlimit: 10;
                stroke-width: 0.25px;
            }
        }

        &.active-casualties {
            svg {
                path {
                    fill: var(--activeColorcasualties);
                }
            }
        }

        &.active-displaced {
            svg {
                path {
                    fill: var(--activeColordisplaced);
                }
            }
        }

        &.active-buildingCosts {
            svg {
                path {
                    fill: var(--activeColorbuildingCosts);
                }
            }
        }
    }

    &__icons-description {
        display: flex;
        justify-content: space-between;
    }

    &__legend {
        position: relative;
        width: 20%;

        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;

        &:first-of-type,
        &:last-of-type {
            width: 10%;
        }

        &:first-of-type {
            position: relative;
            left: -4%;
        }

        &::after {
            position: absolute;
            z-index: -1;
            left: 48%;
            bottom: -1.3rem;
            width: 0.5rem;
            height: 1rem;
            background-color: lightgrey;
            content: "";
        }

        &:first-of-type::after,
        &:last-of-type::after {
            content: none;
        }
    }

    &__colorscale {
        position: relative;

        >* {
            position: absolute;
            width: 100%;
            height: 1.4rem;
            z-index: 1;
            margin-top: 1.3rem;
        }
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid lightgrey;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: lightgrey transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


}
