$color-red: rgb(134, 41, 36);
$color-blue: rgb(25, 118, 185);
$color-level1: rgba(204, 255, 102, 1);
$color-level2: rgba(255, 255, 0, 1);
$color-level3: rgba(255, 153, 0, 1);
$color-level4: rgba(255, 0, 0, 1);
$color-level5: rgba(128, 0, 0, 1);

$padding-containers: 1.2rem;
