.header {
    &__logo {
        width: 45%;
        padding-right: 5%;
    }

    &__box {
        background-color: $color-blue;
        color: white;

        .p {
            font-weight: 500;
        }
    }
}
