.body {
    &__stufe {
        background-color: $color-red;
        h2 {
            color: white;
            font-weight: 800;
            text-align: center;
        }
    }

    &__table {
        font-size: 1.4rem;
    }

    &__left {
        position: relative;
        height: 0;
        transform-origin: top left;
        transform: rotate(-90deg);
        left: -50px;
        top: 75%;
    }

    &__shakemap {
        max-width: 100%;
        max-height: 400px;
    }

    &__graph {
        height: 100%;
        max-width: 100%;
    }
}
