.grid {
    &__row {
        margin-left: $indent-left;
        margin-right: 0;
        position: relative;

        border-left: 1px solid black;
          

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            left: -$indent-left;
            width: calc(100% + $indent-left);
            height: 100%;
            border-bottom: 1px solid black;
            border-top: 1px solid black;
        }
        
        div > & ~ &::before {
            border-top-style: none;
        }

        .vertical-title {
            position: absolute;
            width: fit-content;
            transform-origin: top left;
            transform: rotate(-90deg) translateX(-50%);
            left: -4rem;
            top: 50%;
        }
    }




    &__cell {
        padding: $padding-containers;
        text-align: justify;
        text-justify: inter-word;

        &__border--bottom {
            border-bottom: 1px solid black;
        }

        &__border--right {
            border-right: 1px solid black;
        }
    }
}
