.header {
    margin-left: 0;
    margin-right: 0;

    &__logo {
        margin-bottom: $padding-containers;

        img {
            max-height: 10rem;
            width: 80%;
            float: right;
        }
    }

    &__flag {
        position: relative;
        padding: 0;
        margin-left: -$padding-containers * 3.5;

        svg {
            max-height: 10rem;
            width: 40%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            fill: #fc0019;
        }

        img {
            max-height: 65%;
            max-width: 10%;
            border: white 3px solid;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4%;
        }

        div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            line-height: 4.5rem;
            font-size: 4.5rem;
            font-weight: 600;
            color: white;
        }
    }

    &__box {
        background-color: $color-blue;
        color: white;
        padding: $padding-containers;

        h4 {
            display: inline;
        }

        h2 {
            display: inline;
            font-weight: 600;
        }

        &--explanation {
            padding-left: calc($indent-left + $padding-containers);
            padding-top: $padding-containers * 1.5;
            padding-bottom: $padding-containers * 1.5;
        }
    }

    &__title {
        padding: $padding-containers 0;
        padding-left: $indent-left;

        h1 {
            line-height: 4rem;
        }
    }

    .col-12 {
        padding-right: 0;
    }
}
