.header {
    &__logo {
        margin-bottom: $padding-containers;

        img {
            max-height: 10rem;
            width: 80%;
            float: right;
        }
    }

    &__flag {
        position: relative;
        left: -50px;
        margin-bottom: $padding-containers;

        svg {
            max-height: 10rem;
            width: 40%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            fill: #fc0019;
        }

        img {
            max-height: 65%;
            max-width: 10%;
            border: white 3px solid;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4%;
        }

        div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            line-height: 4.5rem;
            font-size: 4.5rem;
            font-weight: 600;
            color: white;
        }
    }

    &__box {
        margin-left: -50px;
        padding-left: -50px;
        background-color: $color-grey;
        color: white;
        padding: $padding-containers;
        
        &-large {
            padding-top: $padding-containers*1.5;
            padding-bottom: $padding-containers*1.5;
        }

        h4 {
            display: inline;
        }

        p {
            font-weight: 500;
            font-size: 1.8rem;
            display: inline;
        }
    }

    &__erdbeben {
        padding: $padding-containers;

        h1 {
            line-height: 4rem;  
        }
        
    }

    .col-12 {
        padding-right: 0;
    }
}
