.header {
    &__logo {
        max-height: 100px;
        width: 80%;
        float: right;
    }

    &__flag {
        position: relative;
        left: -50px;

        svg {
            max-height: 100px;
            width: 40%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            fill: #fc0019;
        }

        img {
            max-height: 65%;
            max-width: 10%;
            border: white 3px solid;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4%;
        }

        div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            line-height: 4.5rem;
            font-size: 4.5rem;
            font-weight: 600;
            color: white;
        }
    }

    &__box {
        margin-left: -50px;
        padding-left: -50px;
        background-color: $color-blue;
        color: white;
        padding: 1.2rem;
        

        h4 {
            display: inline;
        }

        p {
            font-weight: 500;
            font-size: 1.8rem;
            display: inline;
        }
    }

    .col-12 {
        padding-right: 0;
    }
}
