.losscharts {
    padding: 0;
    margin-top: 0;

    &__container {
        margin-top: 0;
        width: 100%;
        padding: $padding-containers;
        border-bottom: 1px solid black;

        >* {
            width: 100%;
        }

        &:last-of-type {
            border-bottom-style: none;
        }
    }
}
