.losscharts {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;


    &__container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: $padding-containers;
        border-bottom: 1px solid black;

        >* {
            width: 100%;
        }

        &:last-of-type {
            border-bottom-style: none;
        }
    }
}
