.overview {
    padding: 0;

    &__table {
        width: 100%;

        tr {
            td {
                padding-left: $padding-containers;
            }

            border-bottom: 1px solid black;

            &:first-of-type td {
                padding-top: $padding-containers;
            }

            &:last-of-type {
                border-bottom-style: hidden;
            }
        }
    }

    &__stufe {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        > * {
            margin: $padding-containers;
        }

        &__number {
            max-width: 40%;
            align-self: stretch;
            margin: 0.4rem 0 0.4rem 1rem;
            flex-grow: 1;
            font-weight: 800;
            text-align: center;
            align-items: center;
            justify-content: center;

            display: none;

            &-1 {
                background-color: $color-level1;
                color: black;
            }

            &-2 {
                background-color: $color-level2;
                color: black;
            }

            &-3 {
                background-color: $color-level3;
                color: black;
            }

            &-4 {
                background-color: $color-level4;
                color: white;
            }

            &-5 {
                background-color: $color-level5;
                color: white;
            }

            &.active {
                display: flex;
            }
        }
    }
}
