.shakemap {
    &__image {
        max-width: 100%;
        max-height: 400px;
    }

    &__legend {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            margin: 5px auto;
            max-width: 80%;
        }
    }
}
