.shakemap {
    padding: 1.5rem;

    &__image {
        width: 100%;
        // max-height: 40rem;
    }

    &__legend {
        display: flex;
        justify-content: center;

        img {
            margin: 5px 0;
            margin-top: 15px;
            width: 100%;
            // max-width: 100%;
        }
    }
}
